body{
    background-color: rgb(96, 96, 216);
    font-family: 'Times New Roman', Times, serif;
}

div{
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px black;
    padding: 10px;
    margin-left: 3%;
    margin-right: 5%;
}

#pergunta1{
    margin-top: 3%;
}

.botao{
    box-shadow: 2px 2px 8px;
}
